.container {
    display: flex;
    flex-direction: column;
    background: #293A4C;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100vh;
}
.header{
    height: 65px;
    display: flex;
    align-items: center;
}

.menuIcon{
    width: 25px;
    height: 25px;
    fill: #697989;
}
