.messageInputArea{
    display: flex;
    gap: 6px;
    padding: 12px 20px;
}

.textArea {
    width: 100%;
    max-height: 200px;
    font-size: 16px;
    resize: none;
    border: none;
}

.textArea:focus{
    outline: none;
    resize: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.sendButton{
    background: inherit;
    border: none;
    align-self: flex-end;
}

.sendIcon{
    width: 26px;
    height: 26px;
    color: #293A4C;
}