.userChatItem {
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
    height: 80px;
}

.userChatItemActive {
    background: #419FD9;
    color: #fff;
}
.userChatItemActive .chatTimestamp,
.userChatItemActive .lastMessageText,
.userChatItemActive .primaryText {
    color: #fff;
}

.chatItem:hover {
    background-color: #f9f9f9;
}

.chatContent {
    flex: 1;
    width: 400px;
}

.chatHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.chatTitle{
    display: flex;
    align-items: center;
    gap: 6px;
}

.chatName {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatTimestamp {
    font-size: 14px;
    color: #888;
}

.chatBody{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 300;
}

.lastMessageText {
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.primaryText{
    color: #0f9bcf
}